<app-alert-notification [alertData]="messages"></app-alert-notification>

<div class="row">
  <div class="col-lg-12">
    <h2 class="st_title"><i class="uil uil-analysis"></i> Create New Tutor</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">

    <div class="course__form">
      <div class="general_info10">
        <form [formGroup]="tutor" (ngSubmit)="onCreateTutor()">

          <div class="row">

            <div class="col-lg-6 col-md-6">
              <div class="ui search focus mt-30 lbel25">
                <label>Full Name*</label>
                <div class="ui left icon input swdh19" style="display: flex; flex-direction: column;">
                  <input class="prompt srch_explore" type="text" placeholder="Enter tutor name."
                         name="title" data-purpose="edit-course-title" formControlName="name">
                  <div class="invalid-feedback" style="display: block;" *ngIf='submitted && f.name.errors'>
                    <div *ngIf="f.name.errors.required">Full name is required *</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="ui search focus mt-30 lbel25">
                <label>Email Address*</label>
                <div class="ui left icon input swdh19" style="display: flex; flex-direction: column;">
                  <input class="prompt srch_explore" type="text" placeholder="Enter email address."
                         name="subtitle" formControlName="email"/>
                  <div class="invalid-feedback" style="display: block;" *ngIf='submitted && f.email.errors'>
                    <div *ngIf="f.email.errors.required">Email address is required *</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="ui search focus mt-30 lbel25">
                <label>Enter username*</label>
                <div class="ui left icon input swdh19" style="display: flex; flex-direction: column;">
                  <input class="prompt srch_explore" type="text" placeholder="Enter user name."
                         name="subtitle" formControlName="username"/>
                  <div class="invalid-feedback" style="display: block;" *ngIf='submitted && f.username.errors'>
                    <div *ngIf="f.username.errors.required">Username is required *</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="ui search focus mt-30 lbel25">
                <label>Enter Phone Number*</label>
                <div class="ui left icon input swdh19" style="display: flex; flex-direction: column;">
                  <input class="prompt srch_explore" type="text" placeholder="Enter phone number."
                         name="subtitle" formControlName="phone"/>
                  <div class="invalid-feedback" style="display: block;" *ngIf='submitted && f.phone.errors'>
                    <div *ngIf="f.phone.errors.required">Phone number is required *</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12" style="margin-top: 20px;">
              <div class="ui left icon input swdh19">
                <button class="create_btn_dash" *ngIf="!loading">Create
                  Tutor
                </button>

                <div class="lds-ring" *ngIf='loading'>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>

              </div>
            </div>

          </div>

        </form>

      </div>
    </div>

  </div>
</div>
