<ng-container *ngIf='loading'>

  <div class="spinner-control">
    <div class="spinnern">
      <div class="lds-ring" *ngIf='loading'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf='network'>
  <div class="spinner-control">
    <div class="spinnern">
      <span class="error-network">Error occurred loading page</span>
      <button class="btn btn-danger" style="border-radius: 8rem; margin-left: 40px;" (click)='onReload()'>Reload
        Page
      </button>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="success">

  <app-alert-notification [alertData]="messages"></app-alert-notification>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="st_title"><i class="uil uil-book-alt"></i>{{details?.student?.name}} <a
        routerLink="/admin/edit-student-details/{{details?.student?.id}}" title="Edit" class="gray-s"><i
        class="uil uil-edit-alt"></i></a></h2>
    </div>
    <div class="col-md-12">
      <div class="card_dash1">
        <div class="card_dash_left1" style="display: flex; flex-direction: column;">
          <h4 style="margin-top: 9px;">Student Name : {{details?.student?.name}}</h4>
          <h4 style="margin-top: 9px;">Student Phone Number : {{details?.student?.phone}}</h4>
          <h4 style="margin-top: 9px;">Student Email Address : {{details?.student?.email}}</h4>
          <h4 style="margin-top: 9px;">Student Address : {{details?.student?.address}}</h4>
        </div>
        <div class="card_dash_right1">
          <button class="create_btn_dash" routerLink="/admin/enroll-student/student/{{details?.student?.id}}">
            Enroll Now
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="my_courses_tabs">

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
            <div class="table-responsive mt-30">
              <table class="table ucp-table">
                <thead class="thead-s">
                <tr>
                  <th class="text-center" scope="col">Course Name.</th>
                  <th class="text-center" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>


                <ng-container *ngIf="details?.student_course?.data.length > 0">
                  <tr *ngFor="let student of details?.student_course?.data" class="text-center">
                    <td>{{student?.courseinfo?.course_name}}</td>
                    <td class="text-center">
                      <a title="Delete" class="course_active" style="cursor: pointer;"
                         (click)="unEnroll(student?.id)">
                        Un-Enroll
                      </a>
                    </td>
                  </tr>
                </ng-container>


                </tbody>
              </table>

              <ng-container *ngIf="details?.student_course?.data.length == 0">

                <p style="text-align: center; font-weight: bold; font-size: 1.3rem; margin-top: 1.4rem">
                  No active course enrollment
                </p>

              </ng-container>

            </div>

            <div class="card-footer py-4" *ngIf="details?.student_course?.data.length > 0">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">
                  <li class="page-item " [ngClass]='{"disabled" :
                                details?.student_course?.current_page < 5}' (click)='onPrevious()'>
                    <a class="page-link" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>

                  <li class="page-item" *ngFor='let c of counter' [ngClass]='{"active" :
                                    details?.student_course?.current_page==c}' (click)='loadDetails(c)'>
                    <a class="page-link">
                      {{c}}
                      <span class="sr-only" *ngIf='details?.student_course?.current_page == c'>(current)</span>
                    </a>
                  </li>

                  <li class="page-item">
                    <a class="page-link" (click)='onNext()'>
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
