<app-admin-navbar></app-admin-navbar>

<!-- Left Sidebar Start -->
<nav class="vertical_nav">
  <div class="left_section menu_left" id="js-menu">
    <div class="left_section">
      <ul>
        <li class="menu--item">
          <a routerLink='/tutor/dashboard' class="menu--link" title="Dashboard" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class='uil uil-home-alt menu--icon'></i>
            <span class="menu--label">Dashboard</span>
          </a>
        </li>

        <li class="menu--item">
          <a routerLink='/tutor/courses' class="menu--link" title="Live Streams"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class='uil uil-layers menu--icon'></i>
            <span class="menu--label">Courses</span>
          </a>
        </li>

        <!--        <li class="menu&#45;&#45;item">-->
        <!--          <a routerLink='/admin/earns' class="menu&#45;&#45;link" title="Explore" routerLinkActive="active"-->
        <!--             [routerLinkActiveOptions]="{exact: true}">-->
        <!--            <i class='uil uil-dollar-sign menu&#45;&#45;icon'></i>-->
        <!--            <span class="menu&#45;&#45;label">Earns</span>-->
        <!--          </a>-->
        <!--        </li>-->

        <li class="menu--item">
          <a routerLink='/tutor/support' class="menu--link" title="Explore" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class='uil uil-search menu--icon'></i>
            <span class="menu--label">Support Center</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="left_section pt-2">
      <ul>
        <li class="menu--item">
          <a routerLink="/tutor/settings" class="menu--link" title="Setting" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class='uil uil-cog menu--icon'></i>
            <span class="menu--label">Setting</span>
          </a>
        </li>

        <li class="menu--item">
          <a href="#" class="menu--link" title="Report History" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class='uil uil-windsock menu--icon'></i>
            <span class="menu--label">Report History</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<!-- Left Sidebar End -->

<div class="wrapper">
  <div class="sa4d25">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

    <!--    <app-admin-footer></app-admin-footer>-->

  </div>
</div>
