<ng-container *ngIf='status'>
    <ng-container *ngIf='alerttype === "failed"'>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text" style="font-size: 15px;"><strong>Request Failed!</strong> {{alertMessage}}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='onClose()'>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </ng-container>


    <ng-container *ngIf='alerttype === "error"'>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text" style="font-size: 15px;"><strong>Error occurred!</strong> {{alertMessage}}!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='onClose()'>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </ng-container>

    
    <ng-container *ngIf='alerttype === "success"'>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text" style="font-size: 15px;"><strong>Request Successful!</strong>
                {{alertMessage}}!</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='onClose()'>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </ng-container>
</ng-container>