<header id="header"
        class="uk-background-cover uk-background-norepeat uk-background-center-center uk-background-blend-soft-light
		uk-background-primary"
        style="background-image: url('../../../assets/img/herobacground.jpg');">
  <div data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container;
	  cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 500">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="uk-container uk-container-large uk-light" data-uk-height-viewport="offset-top: true">
    <div data-uk-grid data-uk-height-viewport="offset-top: true">
      <div class="uk-header-left uk-section uk-visible@m uk-flex uk-flex-bottom">
        <div class="uk-text-xsmall uk-text-bold">
          <a class="hvr-back" href="#course" data-uk-scroll="offset: 80"><span class="uk-margin-small-right"
                                                                               data-uk-icon="arrow-left"></span>Scroll down</a>
        </div>
      </div>
      <div class="uk-width-expand@m uk-section">
        <div class="uk-margin-top">
          <div class="uk-grid-large" data-uk-grid
               data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200; repeat: true">
            <div class="uk-width-1-2@m">
              <h1 class="uk-heading-medium uk-margin-remove-top uk-letter-spacing-xl">{{details?.name}}</h1>
              <a  class="uk-button uk-button-large uk-button-success-outline">Enroll Now</a>
            </div>
            <div class="uk-width-1-2@m uk-text-large uk-flex uk-flex-middle">
              <div>
                <p>Completely mesh interactive web-readiness via mission-critical growth strategies. Seamlessly
                  maintain granular communities through cross-platform niches. </p>
                <p>Holisticly unleash end-to-end users
                  after long-term high-impact channels. Globally synthesize proactive bandwidth with interactive content.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="uk-header-right uk-section uk-visible@m uk-flex uk-flex-right uk-flex-bottom">
        <div>
          <ul class="uk-subnav uk-text-xsmall uk-text-bold">
            <li><a class="uk-link-border" href="#" target="_blank">facebook</a></li>
            <li><a class="uk-link-border" href="#" target="_blank">twitter</a></li>
            <li><a class="uk-link-border" href="#" target="_blank">instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
