<header class="uk-cover-container uk-background-cover uk-background-norepeat uk-background-center-center"
        style="background-image: url('../../../assets/img/herobacground.jpg');">
  <video src="" data-uk-cover></video>
  <div class="uk-overlay uk-position-cover uk-overlay-video"></div>
  <div data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container;
	  cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 500">
    <nav class="uk-navbar-container uk-letter-spacing-small uk-text-bold">
      <div class="uk-container uk-container-large">
        <div class="uk-position-z-index" data-uk-navbar>
          <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" routerLink="/">
              <img src="assets/img/logos.png" style="width: 60px;"/>
            </a>
          </div>
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav uk-visible@m">
              <li class="uk-active"><a routerLink="/">Home</a></li>
              <li><a routerLink="/courses">Courses</a></li>
              <li><a routerLink="/search">Search</a></li>

              <ng-container *ngIf="!is_login">
                <li><a routerLink="/login">Login</a></li>
              </ng-container>

              <ng-container *ngIf="is_login">
                <li><a routerLink="/student">My Courses</a></li>
                <li><a routerLink="/student/live-sessions">My Courses</a></li>
              </ng-container>


            </ul>
          </div>
          <div class="uk-navbar-right">
            <div>
              <a class="uk-navbar-toggle" data-uk-search-icon href="#"></a>
              <div class="uk-drop" data-uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                  <input class="uk-search-input uk-text-demi-bold" type="search" placeholder="Search..." autofocus>
                </form>
              </div>
            </div>
            <div class="uk-navbar-item">
              <div *ngIf="!is_login"><a class="uk-button uk-button-success-outline" routerLink="/register">Sign Up</a>
              </div>

              <div *ngIf="is_login">
                <div class="dropdown">
                  <div
                    class="click dropdown-toggle d-flex align-items-center"
                    id="dropdownMenudiv"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <div class="ml-3">
                      <p class="mb-0 font12 font-light">Hello, {{user_details?.full_name}}</p>
                    </div>
                    <div class="profile">
            <span class="px-2">
              <i class="fa fa-angle-down"></i>
            </span>
                      <img src="./assets/user.png" class="rounded-circle" alt="" style="width: 30px;"/>
                    </div>
                  </div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenudiv">
                    <a class="dropdown-item click font12" routerLink="/admin/profile"
                    >Profile</a
                    >
                    <a class="dropdown-item click font12" (click)="onLogOut()">
                      Logout
                    </a>
                  </div>
                </div>
              </div>

            </div>
            <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
              data-uk-navbar-toggle-icon></span></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="uk-container uk-container-large uk-light" data-uk-height-viewport="offset-top: true">
    <div data-uk-grid data-uk-height-viewport="offset-top: true">
      <div class="uk-header-left uk-section uk-visible@m uk-flex uk-flex-bottom">
        <div class="uk-text-xsmall uk-text-bold">
          <a class="hvr-back" href="#about" data-uk-scroll="offset: 80"><span class="uk-margin-small-right"
                                                                              data-uk-icon="arrow-left"></span>Scroll
            down</a>
        </div>
      </div>
      <div class="uk-width-expand@m uk-section uk-flex uk-flex-column">
        <div class="uk-margin-auto-top uk-margin-auto-bottom">
          <h1 class="uk-heading-medium uk-margin-remove-top uk-letter-spacing-xl"
              data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
            <mark>Learn</mark>
            skills with
            <mark>practice</mark>
            projects and get tutor
            <mark>feedback</mark>
          </h1>
          <div class="uk-grid-collapse uk-width-3-4@m uk-margin-medium-top" data-uk-grid
               data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200; repeat: true">
            <div class="uk-width-expand">
              <input class="uk-input uk-form-large uk-border-remove-right" type="text" placeholder="Find your course">
            </div>
            <div class="uk-width-auto">
              <button class="uk-button uk-button-large uk-button-success-outline">Seach courses</button>
            </div>
          </div>
        </div>
        <div class="uk-margin-auto-top"
             data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 400; repeat: true">
          <div class="uk-child-width-1-2@s uk-grid-large uk-margin-medium-top" data-uk-grid>
            <div>
              <h4 class="uk-margin-remove">Choose from over 15000 courses</h4>
              <p class="uk-margin-xsmall-top uk-text-small uk-text-muted uk-text-bold">Distinctively recaptiualize
                scalable potentialities through scalable web services.</p>
            </div>
            <div>
              <h4 class="uk-margin-remove">Study online at your own pace</h4>
              <p class="uk-margin-xsmall-top uk-text-small uk-text-muted uk-text-bold">Assertively actualize
                goal-oriented models whereas world-class e-services.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-header-right uk-section uk-visible@m uk-flex uk-flex-right uk-flex-bottom">
        <div>
          <ul class="uk-subnav uk-text-xsmall uk-text-bold">
            <li><a class="uk-link-border" href="#" target="_blank">facebook</a></li>
            <li><a class="uk-link-border" href="#" target="_blank">twitter</a></li>
            <li><a class="uk-link-border" href="#" target="_blank">instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
