<ng-container *ngIf='loading'>

  <div class="spinner-control">
    <div class="spinnern">
      <div class="lds-ring" *ngIf='loading'>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

</ng-container>

<ng-container *ngIf='network'>
  <div class="spinner-control">
    <div class="spinnern">
      <span class="error-network">Error occurred loading page</span>
      <button class="btn btn-danger" style="border-radius: 8rem; margin-left: 40px;" (click)='onReload()'>Reload
        Page
      </button>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="success">

  <app-alert-notification [alertData]="messages"></app-alert-notification>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="st_title"><i class="uil uil-book-alt"></i>Assign Tutor</h2>
    </div>
    <div class="col-md-12">
      <div class="card_dash1">
        <div class="card_dash_left1" style="width: 100%;">

          <div class="col-md-6">
            <select class="form-group" [(ngModel)]="query.designation" style="width: 100%; height: 100%; font-size: 1.5rem;">
              <option value="">Select Designation</option>
              <option *ngFor='let item of dropDown;' value="{{item?.key}}">
                {{item?.name}}
              </option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </div>


  <ng-container *ngIf='type == "tutor"'>
    <div class="row">
      <div class="col-md-12">
        <div class="my_courses_tabs">

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
              <div class="table-responsive mt-30">
                <table class="table ucp-table">
                  <thead class="thead-s">
                    <tr>
                      <th class="text-center" scope="col">Course Id.</th>
                      <th>Title</th>
                      <th class="text-center" scope="col">Publish Date</th>
                      <th class="text-center" scope="col">Total Student</th>
                      <th class="text-center" scope="col">Status</th>
                      <th class="text-center" scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let course of details?.data" class="text-center">
                      <td>DA-{{course?.id}}</td>
                      <td>{{course?.course_name}}</td>
                      <td class="text-center">{{course?.created_at | date:'medium'}}</td>
                      <td class="text-center">{{course?.subscribed_users}}</td>
                      <td class="text-center">
                        <b class="course_active" *ngIf="course?.status == 'active'">Active</b>
                        <b class="course_active" *ngIf="course?.status !== 'active'">In-active</b>
                      </td>
                      <td class="text-center">
                        <button class="create_btn_dash" (click)='onAssign(course?.id)'>
                          Assign
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item " [ngClass]='{"disabled" : details?.current_page < 5}' (click)='onPrevious()'>
                      <a class="page-link" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>

                    <li class="page-item" *ngFor='let c of counter' [ngClass]='{"active" : details?.current_page==c }'
                      (click)='fetchAssignDetails(c)'>
                      <a class="page-link">
                        {{c}}
                        <span class="sr-only" *ngIf='details?.current_page == c'>(current)</span>
                      </a>
                    </li>

                    <li class="page-item">
                      <a class="page-link" (click)='onNext()'>
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf='type == "course"'>

    <div class="row">
      <div class="col-md-12">
        <div class="my_courses_tabs">

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
              <div class="table-responsive mt-30">
                <table class="table ucp-table">
                  <thead class="thead-s">
                    <tr>
                      <th class="text-center" scope="col">Tutor Id.</th>
                      <th class="text-center" scope="col">Full Name</th>
                      <th class="text-center" scope="col">Email</th>
                      <th class="text-center" scope="col">Phone</th>
                      <th class="text-center" scope="col">Username</th>
                      <th class="text-center" scope="col">Status</th>
                      <th class="text-center" scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let tutor of details?.data" class="text-center">
                      <td>TA-{{tutor?.id}}</td>
                      <td>{{tutor?.name}}</td>
                      <td class="text-center">{{tutor?.email}}</td>
                      <td class="text-center">{{tutor?.phone}}</td>
                      <td class="text-center">{{tutor?.username}}</td>
                      <td class="text-center">
                        <b class="course_active" *ngIf="tutor?.status == 'active'">Active</b>
                        <b class="course_active" *ngIf="tutor?.status !== 'active'">In-active</b>
                      </td>
                      <td class="text-center">
                        <button class="create_btn_dash" (click)='onAssign(tutor?.id)'>
                          Assign
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item " [ngClass]='{"disabled" : details?.current_page < 5}' (click)='onPrevious()'>
                      <a class="page-link" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>

                    <li class="page-item" *ngFor='let c of counter' [ngClass]='{"active" : details?.current_page==c }'
                      (click)='fetchAssignDetails(c)'>
                      <a class="page-link">
                        {{c}}
                        <span class="sr-only" *ngIf='details?.current_page == c'>(current)</span>
                      </a>
                    </li>

                    <li class="page-item">
                      <a class="page-link" (click)='onNext()'>
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </ng-container>


</ng-container>