<app-nav-bar-details [details]="courses?.course" [user_paid]="userPaid"></app-nav-bar-details>


<div id="course" class="uk-section">
  <div class="uk-container uk-margin-pricing-offset" style="margin-top: -60px;">
    <div class="uk-grid-large" data-uk-grid>
      <div class="uk-width-expand@m">
        <div class="uk-article">
          <div [innerHTML]="courses?.course?.description"></div>
          <!--          <h2 class="uk-margin-large-top">Content</h2>-->
          <ul class="uk-margin-top">

            <li>
              <div class="uk-accordion-content">
                <table class="uk-table uk-table-justify uk-table-middle uk-table-divider">
                  <tbody>
                  <tr class="uk-text-muted" *ngFor="let classs of courses?.course?.classes">
                    <td class="uk-table-expand">
                      <ng-container *ngIf="userPaid">
                        <a href="{{classs?.video_link}}">
                          <span class="uk-margin-small-right" data-uk-icon="play-circle"></span>
                          ooo
                        </a>
                      </ng-container>
                      <ng-container *ngIf="!userPaid">
                        <span class="uk-margin-small-right" data-uk-icon="play-circle"></span>
                        ooo
                      </ng-container>
                    </td>
                    <td>
                      {{classs?.name}}
                      <span data-uk-icon="lock" *ngIf="!userPaid"></span>
                    </td>
                    <!--                    <td class="uk-table-shrink">04:24</td>-->
                  </tr>

                  </tbody>
                </table>
              </div>
            </li>
          </ul>

          <h2 class="uk-margin-large-top" id="contact">How do I
            <mark>contact</mark>
            you with my questions?
          </h2>
          <p>Activity that and the scarfs, for bit of text, never just
            as our have they of begin to cannot in of ran middle at behind seal that their accustomed. For
            devotion their to though one small sight escape, little. In so her has I solider, touched
            the we the past, time, he posterity.</p>
        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div>
          <div>
            <h3>This course includes</h3>
            <ul class="uk-list uk-margin-small-top">
              <li><span class="uk-margin-small-right" data-uk-icon="clock"></span>Online lectures</li>
              <li><span class="uk-margin-small-right" data-uk-icon="unlock"></span>Full lifetime access</li>
              <li><span class="uk-margin-small-right" data-uk-icon="tablet"></span>Access on mobile</li>
              <li><span class="uk-margin-small-right" data-uk-icon="file-text"></span>Certificate of completion</li>
              <li><span class="uk-margin-small-right" data-uk-icon="file-pdf"></span>Worksheet downloads</li>
              <li><span class="uk-margin-small-right" data-uk-icon="question"></span>Questions answered by tutor</li>
              <li><span class="uk-margin-small-right" data-uk-icon="future"></span>Future course updates</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="lesson" class="uk-flex-top uk-modal-container" data-uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-background-muted">
    <button class="uk-modal-close-outside" type="button" data-uk-close></button>
    <h2 class="uk-modal-title">Introduction: a UXD Parable</h2>
    <iframe src="https://player.vimeo.com/video/126241629" width="1000" height="562" data-uk-responsive
            data-uk-video></iframe>
    <div class="uk-margin-top uk-article">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>

<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <h2>Other Courses You May Like</h2>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-large-top" data-uk-grid>
      <div *ngFor="let courses of courses?.others">
        <div class="uk-card uk-card-small uk-card-border" routerLink="/course-details/{{courses?.slug}}">
          <div class="uk-card-media-top uk-position-relative uk-light">
            <img [src]="courses?.preview_image" onerror='this.src="https://via.placeholder.com/640x400"'
                 alt="Course Title">
            <div class="uk-position-cover uk-overlay-xlight"></div>
            <div class="uk-position-top-left">
              <span class="uk-text-bold uk-text-price uk-text-small">
                <ng-container *ngIf="courses?.amount !== 0">
                {{courses?.amount | currency : 'NGN': 'symbol-narrow'}}
                </ng-container>

                  <ng-container *ngIf="courses?.amount == 0">
                Free
                </ng-container>

              </span>
            </div>
            <div class="uk-position-top-right">
              <a class="uk-icon-button uk-like uk-position-z-index uk-position-relative" data-uk-icon="heart"></a>
            </div>
          </div>
          <div class="uk-card-body">
            <h3 class="uk-card-title uk-margin-small-bottom">{{courses?.name}}</h3>
            <div class="uk-text-muted uk-text-small">Active Class
              <span>({{courses?.classes_count == 0 ? 1 : courses?.classes_count}})</span></div>
            <div class="uk-text-muted uk-text-small uk-rating uk-margin-small-top">
              <span class="uk-rating-filled" data-uk-icon="icon: star; ratio: 0.75"></span>
              <span class="uk-rating-filled" data-uk-icon="icon: star; ratio: 0.75"></span>
              <span class="uk-rating-filled" data-uk-icon="icon: star; ratio: 0.75"></span>
              <span class="uk-rating-filled" data-uk-icon="icon: star; ratio: 0.75"></span>
              <span class="uk-rating-filled" data-uk-icon="icon: star; ratio: 0.75"></span>
              <span class="uk-margin-small-left uk-text-bold">5.0</span>

            </div>
          </div>
          <a class="uk-position-cover"></a>
        </div>
      </div>

    </div>
  </div>
</div>


<app-landing-footerbar></app-landing-footerbar>
