
<header class="uk-cover-container uk-background-cover uk-background-norepeat uk-background-center-center">
  <video src="" data-uk-cover></video>
  <div class="uk-overlay uk-position-cover uk-overlay-video"></div>
  <div data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container;
	  cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 500">
    <app-nav-bar></app-nav-bar>
  </div>
<!--  <div class="uk-container uk-container-large uk-light" data-uk-height-viewport="offset-top: true">-->
<!--    <div data-uk-grid data-uk-height-viewport="offset-top: true">-->
<!--      <div class="uk-header-left uk-section uk-visible@m uk-flex uk-flex-bottom">-->
<!--        <div class="uk-text-xsmall uk-text-bold">-->
<!--          <a class="hvr-back" href="#about" data-uk-scroll="offset: 80"><span class="uk-margin-small-right"-->
<!--                                                                              data-uk-icon="arrow-left"></span>Scroll-->
<!--            down</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="uk-width-expand@m uk-section uk-flex uk-flex-column">-->
<!--        <div class="uk-margin-auto-top uk-margin-auto-bottom">-->
<!--          <h1 class="uk-heading-medium uk-margin-remove-top uk-letter-spacing-xl"-->
<!--              data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">-->
<!--            <mark>Learn</mark>-->
<!--            skills with-->
<!--            <mark>practice</mark>-->
<!--            projects and get tutor-->
<!--            <mark>feedback</mark>-->
<!--          </h1>-->
<!--          <div class="uk-grid-collapse uk-width-3-4@m uk-margin-medium-top" data-uk-grid-->
<!--               data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 200; repeat: true">-->
<!--            <div class="uk-width-expand">-->
<!--              <input class="uk-input uk-form-large uk-border-remove-right" type="text" placeholder="Find your course">-->
<!--            </div>-->
<!--            <div class="uk-width-auto">-->
<!--              <button class="uk-button uk-button-large uk-button-success-outline">Seach courses</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="uk-margin-auto-top"-->
<!--             data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 400; repeat: true">-->
<!--          <div class="uk-child-width-1-2@s uk-grid-large uk-margin-medium-top" data-uk-grid>-->
<!--            <div>-->
<!--              <h4 class="uk-margin-remove">Choose from over 15000 courses</h4>-->
<!--              <p class="uk-margin-xsmall-top uk-text-small uk-text-muted uk-text-bold">Distinctively recaptiualize-->
<!--                scalable potentialities through scalable web services.</p>-->
<!--            </div>-->
<!--            <div>-->
<!--              <h4 class="uk-margin-remove">Study online at your own pace</h4>-->
<!--              <p class="uk-margin-xsmall-top uk-text-small uk-text-muted uk-text-bold">Assertively actualize-->
<!--                goal-oriented models whereas world-class e-services.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="uk-header-right uk-section uk-visible@m uk-flex uk-flex-right uk-flex-bottom">-->
<!--        <div>-->
<!--          <ul class="uk-subnav uk-text-xsmall uk-text-bold">-->
<!--            <li><a class="uk-link-border" href="#" target="_blank">facebook</a></li>-->
<!--            <li><a class="uk-link-border" href="#" target="_blank">twitter</a></li>-->
<!--            <li><a class="uk-link-border" href="#" target="_blank">instagram</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</header>
