/* You can add global styles to this file, and also import other style files */

@import "./assets/css/argon.css";
@import "./assets/css/all.min.css";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    box-sizing: border-box;
}

.auth {
    height: 100%;

    .row {
        margin: 0;
        height: 100%;
    }
}

.aside-left {
    background-image: linear-gradient(to right bottom, rgba(94, 114, 228, 0.1), rgba(115, 134, 245, 0.1)),
        url(./assets/Cover.png);
    background-size: cover;
    background-position: center;
    height: 100%;

    position: relative;

    .inner-content {
        display: block;
        position: absolute;
        top: 60%;
        left: 50%;
        right: -30%;
        transform: translate(-50%, -50%);
        text-align: right;
        color: darken($color: #172b4d, $amount: 0);
    }
}

.inner-text {
    letter-spacing: 0.1rem;
    display: block;
    font-size: 3rem;
    font-weight: 400;

    animation: moveInLeft 1s ease-out;

    strong {
        color: #ffffff;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translate(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.bg-white {
    background-color: #ffffff;
}

.login {
    padding: 4rem;

    &__card {
        padding: 2rem;
        &--s1 {
            .social-create {
                // a{
                //     padding: 10px;
                //     box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
                //     margin-right: 10px;
                //     span{
                //         img{
                //             margin-top: 10px;
                //             margin-bottom: 10px;
                //         }
                //     }
                // }
            }
        }
    }
}

.pl {
    padding-right: 1rem;
    padding-left: 0 !important;
}

.pr {
    padding-left: inherit;
    padding-right: 0 !important;
}

.auth_header {
    .header-c {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .header-l {
        font-weight: 500;
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

@media only screen and (max-width: 767px) {
    // phones
    .mobile-display-none {
        display: none;
    }

    .login {
        padding: 2rem;
    }

    .pl {
        padding-right: 0 !important;
    }

    .pr {
        padding-left: 0 !important;
    }

    .auth {
        height: auto;

        .row {
            margin: 0;
            height: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

.form-control {
    height: calc(1.5em + 1.25rem + 10px) !important;
    font-size: 1.5rem !important;
    color: #222222 !important;
}

.form-group {
    label {
        font-size: 1.3rem;
        font-weight: 600;
    }
}

.conditions {
    margin-bottom: 1rem !important;
    margin-top: 1.5rem !important;
    label {
        padding-left: 1.5rem;
        margin-top: -0.7rem;
        font-size: 1.5rem;
    }
}

.already {
    p {
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
}

.btn-inner--text {
    font-size: 1.7rem !important;
    vertical-align: middle !important;
    line-height: 1.7rem !important;
}

.btn-wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 2px solid #324cdd;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #324cdd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.collapse_menu {
    background-color: #324cdd;
}

.toggle_menu i:hover {
    color: #324cdd;
}

.menu--link.active {
    background: #ffecec;
    color: #324cdd;
}

.spinner-control {
    position: relative;
    width: 100%;
    height: 100vh;
    .spinnern {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
    }
}

.error-network {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: red;
}

.owl-theme .owl-nav {
    padding: 0 !important;
}

.featured_courses .owl-nav .owl-prev {
    padding: 0 !important;
}

.featured_courses .owl-nav .owl-next {
    padding: 0 !important;
}
